{% extends "my_app/base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="auth-box">
    <h2>Create an account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            {% if field.errors %}<ul class="errorlist">{{ field.errors }}</ul>{% endif %}
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</div>
{% endblock %}